<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Episodes
    </h3>
  </div>
  <div class="list-group">
    {{#each sorted as |episode|}}
      {{#link-to 'episodes.show' episode.id class='list-group-item episode'}}
        <h4 class="list-group-item-heading" data-test-episode-title>
          {{episode.number}} - {{episode.title}}
        </h4>
        <p class="list-group-item-text" data-test-episode-description>
          {{episode.description}}
        </p>
      {{/link-to}}
    {{/each}}
  </div>
</div>
