{{#em-form model=(changeset episode EpisodeValidations)
  action=save
  on='submit'
  submitButton=false
  data-test-episode-form=true as |f|}}

  {{f.input label='Title' property='title' data-test-episode-title=true}}
  {{f.input label='Description' property='description' data-test-episode-description=true}}

  <div class="form-actions">
    <button type="submit"
      class="btn btn-primary"
      disabled={{changeset.isInvalid}}
      data-test-save-btn>
      Save
    </button>
  </div>

{{/em-form}}
