<div class="panel panel-default" data-test-person-show>
  <div class="panel-body">
    {{#if remove}}
      <span
        class="pull-right glyphicon glyphicon-remove"
        {{action remove person}}>
      </span>
    {{/if}}
    <dl>
      <dt>
        <label>Name</label>
      </dt>
      <dd data-test-person-name>
        {{person.name}}
      </dd>
    </dl>
    <dl>
      <dt>
        <label>Handle</label>
      </dt>
      <dd data-test-person-handle>
        {{person.handle}}
      </dd>
    </dl>
  </div>
</div>
