{{#em-form model=resource
  action=save
  on='submit'
  submitButton=false
  data-test-resource-form=true as |f|}}

  {{f.input
    status=(if resource.error.url 'error')
    label='URL'
    errors=resource.error.url
    property='url'
    data-test-resource-url=true}}

  {{f.input
    status=(if resource.error.title 'error')
    label='Title'
    errors=resource.error.title
    property='title'
    data-test-resource-title=true}}

  <div class="form-actions">
    <button type="submit"
      class="btn btn-primary"
      disabled={{resource.isInvalid}}
      data-test-save-btn>
      Save
    </button>

    <button type="submit"
      class="btn btn-default"
      {{action cancel}}
      data-test-cancel-btn>
      Cancel
    </button>
  </div>
{{/em-form}}
