<div class="panel panel-default" data-test-resource>
  <div class="panel-heading clearfix">
    <h3 class="panel-title" data-test-resource-title>
      Resource
    </h3>
  </div>
  <div class="panel-body">
    <dl>
      <dt>
        <label>URL</label>
      </dt>
      <dd data-test-episode-description>
        {{resource.url}}
      </dd>
    </dl>
    <dl>
      <dt>
        <label>Title</label>
      </dt>
      <dd data-test-episode-description>
        {{resource.title}}
      </dd>
    </dl>
    <div class="form-actions">
      <button class="btn btn-default pull-right"
        {{action (transition-to 'resources.edit' resource)}}
        data-test-edit-resource-btn>
        Edit
      </button>
    </div>
  </div>
</div>
