<div class="panel panel-default" data-test-show-note>
  <div class="panel-heading clearfix">
    <h3 class="panel-title" data-test-show-note-title>
      Show Note
    </h3>
  </div>
  <div class="panel-body">
    <dl>
      <dt>
        <label>Time Stamp</label>
      </dt>
      <dd data-test-episode-description>
        {{showNote.timeStamp}}
      </dd>
    </dl>
  </div>
</div>

