<div class="col-md-4 col-xs-4">
  {{resource-show resource=model}}

  {{people-select
    title='Authors'
    add=(route-action 'addAuthor' model)
    remove=(route-action 'removeAuthor' model)
    people=model.authors}}
</div>

<div class="col-md-4 col-xs-4">
  {{show-note-list showNotes=model.showNotes}}
</div>
