<div class="col-md-4 col-xs-4">
  {{resource-show resource=model}}

  {{person-list
    title='Authors'
    add=(route-action 'addAuthor' model)
    remove=(route-action 'removeAuthor' model)
    people=model.authors}}
</div>
