<div class="panel panel-default" data-test-resource-new>
  <div class="panel-heading clearfix">
    <h3 class="panel-title">
      Resource
    </h3>
  </div>
  <div class="panel-body">
    {{resource-form
      resource=model
      save=(route-action 'save')
      cancel=(transition-to 'episodes.show.show-note.new' episode)}}
  </div>
</div>
