<div class="col-md-4 col-xs-4">

  {{show-note showNote=model}}

  {{resource-show resource=model.resource}}

  {{person-list
    title='Authors'
    add=(route-action 'addAuthor' model.resource)
    remove=(route-action 'removeAuthor' model.resource)
    people=model.resource.authors}}

</div>
