<div class="col-md-4 col-xs-4">

  {{show-note showNote=model}}

  {{#if model.resource}}

    {{resource-show resource=model.resource}}

    {{people-select
      title='Authors'
      add=(route-action 'addAuthor' model.resource)
      remove=(route-action 'removeAuthor' model.resource)
      people=model.resource.authors}}

  {{/if}}

</div>
