<div class="col-md-4 col-xs-4" test-id="episodes">
  <div class="list-group">
    {{#each model as |episode|}}
      {{#link-to 'episodes.show' episode.id class='list-group-item episode'}}
        <h4 test-id="episode-title" class="list-group-item-heading">
          {{episode.number}} - {{episode.title}}
        </h4>
        <p test-id="episode-description" class="list-group-item-text">
          {{episode.description}}
        </p>
      {{/link-to}}
    {{/each}}
  </div>
</div>
{{outlet}}
